<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324364114811-90tdubpgttv8lra3nfbb1neshb189gp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324364114811-90tdubpgttv8lra3nfbb1neshb189gp7</string>
	<key>API_KEY</key>
	<string>AIzaSyCNqFMnftoO542S0p6Kcg8Pnp4_iX1IdjE</string>
	<key>GCM_SENDER_ID</key>
	<string>324364114811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.imoceania</string>
	<key>PROJECT_ID</key>
	<string>ironmanaus-efa49</string>
	<key>STORAGE_BUCKET</key>
	<string>ironmanaus-efa49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324364114811:ios:44e25c23b7c0768d2dfbde</string>
	<key>DATABASE_URL</key>
	<string>https://ironmanaus-efa49.firebaseio.com</string>
</dict>
</plist>