<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643875927225-2eqvfcsidbaq326e6jdjnafsi4njlnu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643875927225-2eqvfcsidbaq326e6jdjnafsi4njlnu2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzFeEUhBEM19tMuB4JMJl6yiRg4SXbTEE</string>
	<key>GCM_SENDER_ID</key>
	<string>643875927225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.chmarathon</string>
	<key>PROJECT_ID</key>
	<string>christchurch-marathon</string>
	<key>STORAGE_BUCKET</key>
	<string>christchurch-marathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643875927225:ios:6df86ce10d2d6aa627d768</string>
</dict>
</plist>