<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415887981145-9qsmhg60kqgpikv97t0h73s0vnfic85g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415887981145-9qsmhg60kqgpikv97t0h73s0vnfic85g</string>
	<key>API_KEY</key>
	<string>AIzaSyDVtfpRVSQPaZI8MK3-MgFDOGgKy6_87qs</string>
	<key>GCM_SENDER_ID</key>
	<string>415887981145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.tarawera</string>
	<key>PROJECT_ID</key>
	<string>tarawera-9a851</string>
	<key>STORAGE_BUCKET</key>
	<string>tarawera-9a851.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415887981145:ios:e9da6f6216dcf93687cf48</string>
	<key>DATABASE_URL</key>
	<string>https://tarawera-9a851.firebaseio.com</string>
</dict>
</plist>