<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269736099797-1ovlfkjlf8rqpeok726u61k759nhgnn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269736099797-1ovlfkjlf8rqpeok726u61k759nhgnn1</string>
	<key>API_KEY</key>
	<string>AIzaSyBR04--BSiZamoF8wg7mBFyXym-xcnZeHw</string>
	<key>GCM_SENDER_ID</key>
	<string>269736099797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.eventotracker.demo</string>
	<key>PROJECT_ID</key>
	<string>eventotracker</string>
	<key>STORAGE_BUCKET</key>
	<string>eventotracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269736099797:ios:8296fa62a66391c77c075c</string>
	<key>DATABASE_URL</key>
	<string>https://eventotracker.firebaseio.com</string>
</dict>
</plist>