<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893380815399-p8396pf2ud7kh9at356dt8v16rkacvad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893380815399-p8396pf2ud7kh9at356dt8v16rkacvad</string>
	<key>API_KEY</key>
	<string>AIzaSyAcp7AoiDPJJRsxYsdWaZJS-tknQOvZ24U</string>
	<key>GCM_SENDER_ID</key>
	<string>893380815399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.motatapu</string>
	<key>PROJECT_ID</key>
	<string>evento-tracker-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>evento-tracker-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893380815399:ios:d82dcf766a9af38dd8fc02</string>
</dict>
</plist>