<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587787464718-3ndpaam559tu142deji73hp9q4aigij6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587787464718-3ndpaam559tu142deji73hp9q4aigij6</string>
	<key>API_KEY</key>
	<string>AIzaSyAiaz98jN8jyrD67iUp6xW0TwjQippoPbg</string>
	<key>GCM_SENDER_ID</key>
	<string>587787464718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nz.netproject.uta</string>
	<key>PROJECT_ID</key>
	<string>ultratrail-d5ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>ultratrail-d5ba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587787464718:ios:b2fab64426e8e74c11cc5f</string>
	<key>DATABASE_URL</key>
	<string>https://ultratrail-d5ba9.firebaseio.com</string>
</dict>
</plist>